$green: #234a24;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

 .jumbotron {
   background-color: $green;
   color: black;
   @include margenes(50px, 0px);

 }

  .footer {
	padding: 10px 10px 10px;
	background-color: $green;
	@include margenes(10px, 0px);
 }
 .card-productivo {
 	flex: 1 200px;
 	@include margenes(100px, 0px); 
 	}
 .btn-Me-interesa {
 	width: 100%;
 	border-radius: 0px;
 }
 .footer-address-icon {
 	padding-right: 10px;
 }
 .tab-content {
 	padding-top: 10px;
 }